{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>
<body>
   

    <div class="form">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="text" id="username" name="username" placeholder="Username"><br><br>
            <input type="password" id="password" name="password" placeholder="Password"><br><br>
            <button type="submit">Login</button>
        </form>
        <p><h4>Don't have an account ? </h4><a href="{% url 'signup' %}"><h4> Sign up</h4></a></p>
    </div>
</body>
</html>
